<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

	<title>Въведение в Vue.js (v.2.5)</title>

  <link href="css/fontawesome.css" rel="stylesheet">
	<link rel="stylesheet" href="css/reveal.css">
	<link rel="stylesheet" href="css/learning.css" id="theme">
	<!-- За борба с кеша -->
	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Expires" content="0" />
</head>

<body>
	<div class="reveal">
		<div class="slides">

<section data-background="#fff">
	<img src="images/front.png" style="width: 80%;background-color: transparent;">
</section>

<section data-state="gradient"><!-- Title -->
	<img src="images/Vue_js_logo.png" style="width: 50%;background-color: transparent;">
	<h1 style="color: #fff;"> Въведение в Vue.js 2</h1>
</section>

<section ><!-- Introduction -->
	<section  data-state="gradient">
		<h2 style="color: #fff;"><i class="fab fa-vuejs"></i> Основи и Инициализация</h2>
	</section>
	<section>
		<h3>Какво представлява Vue.js?</h3>
		<ul class="smaller">
			<li>JavaScript рамка (framework)</li>
			<li>Използваме го като всеки друг js файл</li>
			<li>Дава ни възможност бързо и лесно да направим динамични страница</li>
			<li>Използва се при създаването на Single page aplication</li>
			<li>Работи с Виртуален DOM обект</li>
			<li>Предоставя възможност за моментална реактивност между клиентското поведение на сайта и данните запазени в JS</li>
		</ul>
	</section>
	<section>
		<h3>Инсталация</h3>
		<ul>
			<li><a href="https://vuejs.org/v2/guide/installation.html">https://vuejs.org/v2/guide/installation.html</a></li>
			<li>Използвайте "development" версията докато разработвате приложението си, тъй като с нея получавате възможност за дебъгване на vue.js кода, който създавате.</li>
			<li><strong>Vue-Devtools</strong> (<a href="https://github.com/vuejs/vue-devtools#vue-devtools">https://github.com/vuejs/vue-devtools#vue-devtools</a>) е инструмент за дебъгване на vue.js код под <em>FireFox</em> & <em>Chrome</em>.</li>
		</ul>
	</section>
	<section>
		<h3>Инициализиране на Vue.js</h3>
		<p>Инициализирането става чрез извикването на обекта <code>new Vue()</code></p>
		<small>HTML</small>
		<pre><code class="html">
		&lt;div id="app"&gt; {{ message }} &lt;/div&gt;
		</code></pre>
		<small>JS</small>
		<pre><code class="js">
		var app = new Vue({
		  el: '#app',
		  data: {
		    message: 'Динамично предадена стойност.'
		  }
		})
		</code></pre>
	</section>
	<section>
		<ul>
			<li>Извикването на <em>vue.js</em> става чрез подадване на обект от данни при инициализацията нa Vue обекта.</li>
			<li><em>Vue.js</em> трябва да бъде извикан върху определен елемент от нашия HTML, за което използваме свойството на обекта <code>el</code>. На него му подаваме css селектор.</li>
			<li><strong>Забележка:</strong> ако този селектор обхваща повече от един елементи, то Vue обекта ще се инициализира само върху първия срещнат елемент отговарящ на този селектор.</li>
		</ul>
	</section>
	<section>
		<h3>Свойството <code>data</code></h3>
		<ul class="smaller">
			<li>Чрез него може да направим директна връзка между HTML елементите и стойностите зададени в JavaScript</li>
			<li>Връзката се осъществява като в HTML кода използваме същото име на свойството, което сме използвали при дефинирането му в JavaScript обекта data заградено от къдрави скоби - <code>{{ variable-name }}</code></li>
			<li>по този начи може да предаваме всякакви низови и цифрови символи</li>
			<li>Промяната на стойността на промеливата веднага се отразява в HTML-а</li>
			<li>В тези скоби може да извършим и математически операции</li>
		</ul>
	</section>
	<section>
		<small>Позволено използване</small>
		<pre><code class="html">
		&lt;p&gt;{{ number + 1 }}&lt;/p&gt;
		&lt;p&gt;{{ variable ? 'да' : 'не' }}&lt;/p&gt;
		&lt;p&gt;{{ message.split('').reverse().join('') }}&lt;/p&gt;
		&lt;p&gt;{{ [1,234,456] }}&lt;/p&gt;
		</code></pre>
		<small>Грешно използване</small>
		<pre><code class="html">
		&lt;p&gt;{{ var a = 1 }}&lt;/p&gt;
		&lt;p&gt;{{ if (ok) { return message } }}&lt;/p&gt;
		&lt;p&gt;{{ &lt;h1&gt; всякакъв html код &lt;/h1&gt; }}&lt;/p&gt;
		</code></pre>
	</section>
	<section>
		<h3> Cвойствато <code>methods</code></h3>
		<ul class="smaller">
			<li>На това свойсвто се задават редици методи/функции, които може да ги използваме в различни случай. На често това ще са функции, които ще използваме при възникване на дадено събитие.</li>
			<li>Тези методи имат достъп до данните, които сме разредили в <code>data</code>, чрез обръщане към <em>Vue</em> обекта.</li>
			<li>Манипулацията на <em>data</em> свойствата чрез функциите от <em>methods</em> ще се отрази и върху HTML.</li>
		</ul>
	</section>
	<section>
		<pre><code class="js">
		new Vue({
		  el: '#app',
		  data: {
		    message: 'Здравей Vue!'
		  },
			methods:{
				toUp: function(){
					this.message.toUpperCase();
				}
			}
		})
		</code></pre>
	</section>
	<section>
		<h3>Директиви</h3>
		<ul class="smaller">
			<li>Директивите приличат на HTML атрибути, но представляват вид инструкции към <em>VUE</em> кода.</li>
			<li>Директивите обикновено започват с <code>v-</code>, след което следва и самата директива (някой директиви обаче имат и съкратен вариант).</li>
			<li><code>v-once</code> - се използва върху HTML елемент, който има за съдържание елемент подаден от vue обекта. С тази директива ще се запази първоначалната стойност на променливата без да се отразява последващите промени в стойността).</li>
			<li><code>v-html</code> - позволява вмъкването на HTML код в съдържащия директивата елемент.</li>
			<li><code>v-bind</code> - използава се за динамични HTML атрибути <br>(v-bind:href="dynamicLink") </li>
		</ul>
	</section>
	<section>
		<small>HTML</small>
		<pre><code class="html">
		&lt;div id="app"&gt;
			&lt;p v-once&gt;{{firstData}}&lt;/p&gt;
			&lt;p&gt;{{firstData}}&lt;/p&gt;
			&lt;em style="color:red" v-html="myHTML"&gt;&lt;/em&gt;&lt;br&gt;
			&lt;button @click="secondData"&gt;click&lt;/button&gt;
		&lt;/div&gt;
		</code></pre>
		<small>JS</small>
		<pre><code class="js">
		new Vue({
      el:"#app",
      data:{
        firstData:"Първоначални данни",
        myHTML:"<strong>Spas</strong>"
      },
      methods:{
        secondData:function(){
          this.firstData = "Второстепенни данни";
        }
      }
	  })
		</code></pre>
	</section>
</section>

<section ><!-- events -->
	<section  data-state="gradient">
		<h2 style="color: #fff;"><i class="fas fa-mouse-pointer"></i> Събития</h2>
	</section>
	<section>
		<h3>Директива за събития</h3>
		<ul class="smaller">
			<li><code>v-on:събитие="метод"</code> - след <em>v-on:</em> трябва да следва стандартно js събитие като  <em>v-on:click</em>.</li>
			<li>Съкратеният вариант за позлване на тази директива е символът <code>@</code>. Така <em>v-on:change</em>, ще стане - <em>@change</em>.</li>
			<li>Като стойност може да се предаде метод от methods или директно да се изпише някаква функционалност.</li>
			<li>Може да закачаме неограничен брой събития към даден елемент.</li>
		</ul>
	</section>
	<section>
		<small>Използване на функционалност директно в събитието</small>
		<pre><code class="html">
			&lt;button v-on:click="counter += 1">Добави 1&lt;/button>
		</code></pre>
		<small>Използване на метод в събитето</small>
		<pre><code class="html">
			&lt;button @click="addOne">Добави 1&lt;/button>
		</code></pre>
		<small>JS</small>
		<pre><code class="js">
		...
			data:{
				counter:0
			},
			methods:{
				addOne: function(){
					this.counter ++;
				}
			}
		...
		</code></pre>
	</section>
	<section>
		<h3>Предаване на аргумети</h3>
		<ul>
			<li>Предаването на стойност става по традиционния начин: <code> v-on:click="someMethod(value)"</code> </li>
			<li>Имаме и достъп до самото DOM събитие, чрез променливата <em>event</em> (ако нямаме други аргументи в метода):  <code> v-on:click="someMethod"</code> </li>
			<li>Ако имаме и други аргументи, тогава използваме <em>$event</em>, като стойност, която също ще предадем: <code> v-on:click="someMethod(value, $event)"</code>  </li>
		</ul>
	</section>
	<section>
		<small>HTML</small>
		<pre><code class="html">
	&lt;!-- задаване на метод без аргументи -->
	&lt;input type="button" value="Цъкни" @click="action">
	&lt;!-- комбинирано задаване на аргумент + DOM събитието -->
	&lt;input type="button" value="Цъкни" @click="action2(2, $event)">
		</code></pre>
		<small>JS</small>
		<pre><code class="js">
	...
	data:{
		btn: ""
	},
	methods:{
		action:function(event){
			this.btn = event.target.value
		},
		action2:function(count, event){
			this.btn = event.target.value + count
		}
	}
	...
		</code></pre>
	</section>
	<section>
		<h3>Редактори на събитията</h3>
		<ul class="smaller">
			<li>Това са добавки към събитията, които задават специфично поведение на събитиeто:
				<ul>
				 	<li><em>stop</em> - отговаря на stopPropаgаtion()</li>
				 	<li><em>prevent</em> - отговаря на preventDefault()</li>
				 	<li><em>once</em> - събитието ще бъде изпълнено само веднъж</li>
				 </ul>
			</li>
			<li><code>&lt;a v-on:click.once="someFunc">&lt;/a></code></li>
			<li>Тези редактори могат да се задават един след друг във верижен формат: <code>@click.stop.prevent="someFunc"</code></li>
			<li>Възможно е обвързване на събитието keyup с конкретен клавиш: <code>&lt;input @keyup.enter="someFunc"></code> </li>
		</ul>
	</section>
	<section>
		<h5>Положителни страни на връзване на събитията директно в HTML-a</h5>
		<ul>
			<li>По-лесно проследяване на самото събитие (вече нямаме събития вързани за самия document обект)</li>
			<li>По този начин много по-лесно проследяваме логиката на кода и тестваме приложението си</li>
			<li>Лесно можем да заличим всички събития към текущата инстанция, като я унищожим, без да ни се налага да унищожаваме всяко отделно събитие</li>
		</ul>
	</section>
	<section>
		<h3>Документация</h3>
		<p><a href="https://vuejs.org/v2/guide/events.html">https://vuejs.org/v2/guide/events.html</a></p>
	</section>
</section>

<section ><!-- computed & watchers -->
	<section  data-state="gradient">
		<h2 style="color: #fff;"><i class="fas fa-binoculars"></i> Следене и презчисляване на стойности</h2>
	</section>
	<section>
		<h3>Computed (Преизчислени) стойности</h3>
		<ul class="smaller">
			<li>Понякога ни се налага да преизчислим дадена стойност преди да я направим видима за потребителя. Тогава можем да използваме <code>computed</code> свойството на Vue.js</li>
			<li>To работи по същия начин както и <em>methods</em>, но със съществаната разлика, че при всяка промяна в състоянието на стойност от data, функциите от methods, които се използват за преизчисляване на стойности ще зе извикат без значение дали промянта в данните се отнася за тях</li>
			<li>Преизчисляващите функции от computed обаче ще се изпълнят единствено ако промяната в данните пряко засяга някоя от тях. Това се нарича <strong>кеширана зависимост</strong>.</li>
		</ul>
	</section>
	<section>
		<pre><code class="html">
	<input type="button" value="Val +1" @click="val ++">
  <input type="button" value="+1" @click="counter ++">
  <input type="button" value="-1" @click="counter --"><br>
  <span>Val е: {{counter}}</span><br>
  <span>Числото е: {{val}}</span><br>
  <span>Computed: {{ recalc1 }} || Method: {{ recalc2() }}</span>
		</code></pre>
		<pre><code class="js">
	data:{
    counter:0,
    val: 0
  },
  computed:{
    recalc1:function(){
      console.log("computed")
      return this.counter > 10 ? ">10" : "&lt;10";
    }
  },
  methods:{
   recalc2:function(){
     console.log("method")
     return this.counter > 10 ? ">10" : "&lt;10";
    }
  }
		</code></pre>
	</section>
	<section>
		<h3>Следене на стойности (watchers)</h3>
		<ul class="smaller">
			<li>Тъй като в JavaScript e силно застъпено асинхронното програмиране е възможно да попаднем в случай, в който да искаме да преизчислим стойности, които все още не са налични. Функциите от computed се изпълняват синхронно и за това се налага да ползваме друг метод на Vue.js наречен watch</li>
			<li>Функциите зададени в метода watch се изпълняват само при промяна в състоянието на вързаниата за тях стойност</li>
			<li>За име на функцията, използвана в метода watch се използва същото име на наблюдавото свойство от data</li>
		</ul>
	</section>
	<section>
		<pre><code class="html">
	&lt;div id="app">
    &lt;input type="text" v-model="question" @change=" answer = ''">&lt;br>
    &lt;span>{{ answer }}&lt;/span>
  &lt;/div>
		</code></pre>
		<pre><code class="js">
	new Vue({
    el: '#app',
    data: {
      question: '',
      answer:'',
    },
    watch: {
      question: function (e) {
        console.log(e)//това е стойността от  question
        this.answer = 'Loading...'
      }
    }
  });
		</code></pre>
	</section>
	<section>
		<h3>Допълнителна информация</h3>
		<p><a href="https://vuejs.org/v2/guide/computed.html">
			https://vuejs.org/v2/guide/computed.html
		</a></p>
	</section>
</section>

<section ><!-- CSS & styles -->
	<section  data-state="gradient">
		<h2 style="color: #fff;"><i class="fas fa-paint-brush"></i>  CSS класове и стилове</h2>
	</section>
  <section>
  	<h3>Вмъкване на css класове</h3>
  	<ul>
  		<li>Може да вмъкнем динамично клас чрез <code>v-bind:class</code> или чрез съкратения вариант <code>:class</code></li>
  		<li>Също така имаме възможност да обвържем даден клас с булин променлива от нашите свойства от data: <code>:class="{ className: booleanVal }"</code></li>
  		<li>Mожем да подадем и масив от класове <code>:class="[activeClass, errorClass]"</code></li>
  	</ul>
  </section>
  <section>
  	<h3>Подаване на стойности за стил(style)</h3>
  	<ul class="smaller">
  		<li>Отново използваме метода на създаване на динамичен атрибут чрез <code>v-bind:style</code> или <code>:style</code>, като очакваната стойност може да бъде низ, масив от низове или обект от css свойства и стойности</li>
  	</ul>
		<pre><code class="html">
	<div v-bind:style="{ color: activeColor, fontSize: fontSize + 'px' }"></div>
	<div v-bind:style="styleObject"></div>
		</code></pre>
		<pre><code class="js">
	data: {
	  styleObject: { color: 'red', fontSize: '13px'  },
		activeColor: 'red',
  	fontSize: 30
	}
		</code></pre>
  </section>
  <section>
  	<h3>Допълнителна информация</h3>
  	<p><a href="http://vuejs.org/guide/class-and-style.html">http://vuejs.org/guide/class-and-style.html</a></p>
  </section>
	<!-- CSS класове и стилове: http://vuejs.org/guide/class-and-style.html-->
</section>

<section ><!-- IF ELSE -->
	<section  data-state="gradient">
		<h2 style="color: #fff;"><i class="fas fa-exchange-alt"></i> Условни изрази (if/else)</h2>
	</section>
	<section>
			<h3><code>v-if</code></h3>
			<ul class="smaller">
				<li><code>v-if</code> e директива (което означва, че я използваме в html), която за стойност трябва има булин израз.</li>
				<li>Използва се върху елемент, като израза ще важи за всички "деца" на този елемент.</li>
				<li>Ако имаме група от елементи зависещи от един  <em>v-if</em> може вместо да ги групираме в отделен div елемент, да използва елемнта <code>template</code>, този елемент не се показва в DOM-a.</li>
			</ul>
		</section>
		<section>
			<h3><code>v-if</code> & <code>v-else-if</code></h3>
			<ul>
				<li>И двете директиви трябва да следват веднага след елемента (от същото ниво), който е бил с директивата <code>v-if</code></li>
				<li><code>v-else</code>винаги е без стойност</li>
				<li><code>v-else-if</code> трябва да има булин израз както и  <code>v-if</code></li>
			</ul>
		</section>
		<section>
			<h3><code>v-show</code></h3>
			<ul class="smaller">
				<li>Тази директива работи по същия начин както и <code>v-if</code></li>
				<li>При <code>v-show</code> винаги ще имаме зареждане на елемента, но не винаги ще е видим. При <code>v-if</code> ако условието не е спазено (имаме false) тогава елемента няма да се зареди в DOM.</li>
				<li><code>v-show</code> използва <em>display</em> свойството на css за да покаже или скрие съответния елемент.</li>
				<li>Използвайте <code>v-show</code>, когато ви трябва да показвате/скривате един елемент често, а <code>v-if</code> когато сте сигурни, че условието за проверка дали елемента трябва да се зареди няма да се променя често</li>
			</ul>
		</section>
		<section>
			<pre><code class="html">
	&lt;template v-if="documentType === 'passport'">
	  &lt;label>Номер на Паспорт&lt;/label>
	  &lt;input placeholder="въведете номер на паспорт">
	&lt;/template>
	&lt;template v-else>
	  &lt;label>Номер на ЛК&lt;/label>
	  &lt;input placeholder="въведете номер на лична карта">
	&lt;/template>
			</code></pre>
		</section>
		<section>
			<h3>Допълнителна информация</h3>
			<p><a href="http://vuejs.org/guide/conditional.html">http://vuejs.org/guide/conditional.html</a></p>
		</section>
</section>

<section ><!-- For Loop -->
	<section  data-state="gradient">
		<h2 style="color: #fff;"><i class="fas fa-retweet"></i> Цикли</h2>
	</section>
	<section>
		<h3><code>v-for</code></h3>
		<ul class="smaller">
			<li>Директивата <code>v-for</code> се използва за генериране на HTML елементи от масив или обект зададени във Vue инстанцията.</li>
			<li>За стойност на v-for се задава израз от тип <code>"x in variable"</code> където <em>variable</em> ще бъде името на свойство от vue обекта, а <em>x</em> ще e всеки отделен елемент от променливата.</li>
			<li>Ако променливата е масив можем да използваме и следния израз:<code>"(x, index) in array"</code>,къде <em>index</em> ще е поредния индекс на <em>x</em>.</li>
			<li>Ако променливата е обект, можем да използваме израза:<code>"(val, key, index) in object"</code>,къде <em>index</em> ще е поредния индекс, <em>key</em> - името на свойството, <em>val</em> - стойността.</li>
		</ul>
	</section>
	<section>
		<h3>Използване на v-for в числов обхват </h3>
		<ul>
			<li>Възможно е да ни трябва да пресъздадем дадена html структура определен борй пъти. Вместо да създаваме нова променлива с числова стойност и да я задаваме в цикъла можем направо да я използваме на мястото на променливата при задаване на стойността на v-for.</li>
		</ul>
		<pre><code class="html">
	&lt;div>
  	&lt;span v-for="n in 10">{{ n }} &lt;/span>
	&lt;/div>
		</code></pre>
	</section>
	<section>
		<h3>Използване на <code>&lt;template></code> елемента</h3>
		<ul>
			<li>Също както при v-if може да използваме елемента template за да направим цикъл, който да обхваща няколко елемента в себе си.</li>
		</ul>
		<pre><code class="html">
	&lt;ul>
  	&lt;template v-for="item in items">
    	&lt;li>{{ item }}&lt;/li>
    	&lt;li class="divider">&lt;/li>
  	&lt;/template>
	&lt;/ul>
		</code></pre>
	</section>
	<section>
		<h3>Използване на <code>v-for</code> с <code>v-if</code></h3>
		<ul>
			<li>Когато имаме v-for и v-if на един и същи елемент, с по-висок приоритет ще се изпълни цикъла.</li>
			<li>v-if в този случай може да се използва за контролиране на отделните елементи от цикъла</li>
		</ul>
		<pre><code class="html">
	&lt;li v-for="num in numbers" v-if="num % 2 == 0">
	  {{ num }}
	&lt;/li>
		</code></pre>
	</section>
	<section>
		<h3>Допълнителна информация ++</h3>
		<p><a href="http://vuejs.org/guide/list.html">http://vuejs.org/guide/list.html</a></p>
	</section>
</section>

<section ><!-- Vue Instance -->
	<section  data-state="gradient">
		<h2 style="color: #fff;"><i class="fas fa-wrench"></i> Как работи Vue.js?</h2>
	</section>
	<section>
		<h3>Vue.js Инстанцията</h3>
		<ul class="smaller">
			<li>На една страница може да имаме повече от една инстанции на vue обекта, но те не трябва да препокриват обхвата на елементите си.</li>
			<li>Vue обекта, като всеки един js обект може да бъде достъпен отвън. Също така може да му бъдат подадени нови стойности и свойства, но те няма да имат свойствата на вече дефинираните, тъй като процесът на първоначалното инициализиране създава много по-дълбока и сложна структура от тази, която виждаме в кода.</li>
			<li>Възможно е да използваме данни и променливи от външната среда на vue обекта.</li>
		</ul>
	</section>
	<section>
		<h3>Създване на инстанция без закачане към елемент</h3>
		<ul class="smaller">
			<li>Vue.js позволява създаване на инстанция без да сме задали изрично към кой елемент я закачаме.</li>
			<li>Тази възможност е оставена с цел изчакване на други процеси преди да се наложи използването на vue обекта.</li>
			<li>За да закачим така създадена инстанция към html елемент ни е нужен метода <code>mount</code>.</li>
		</ul>
		<pre><code class="js">
	var data = { a: 1, b: 2 };
	var vm = new Vue({
	  data: data
	});
	vm.$mount('#app');
		</code></pre>
	</section>
	<section>
		<h3>Жизнен цикъл на Vue обекта</h3>
		<ul class="smaller">
			<li>Жизнения цикъл на vue oбекта включва няколко метода, към които може да закачим собствена функционалност.</li>
			<li>Тези куки са свързани с четирите основни фази на живота на обекта: създаване на обекта, закачане към html елемент, обновяване и унищожаване.</li>
			<li>Тези 4 куки съществуват в две разновидности: преди и след основната фаза (пр.: преди създаване/след създаване)</li>
		</ul>
		<small>Пример с "закачане" към събитието created</small>
		<pre><code>
	let x = new Vue({
	  data: { a: 1 },
	  created: function () {
			//this = x;
	    console.log('a: ' + this.a);
	  }
	})
		</code></pre>
	</section>
	<section>
		<h3>Virtual DOM & Шаблоните на Vue обекта</h3>
		<ul class="smaller">
			<li>Virtual DOM представлява копие на оригиналния DOM, но във вид на JS обект и с много по-малко свойства (само тези, които текущо се използват).</li>
			<li>При инициализацията на Vue обекта и неговото закачане за html елемент се създава шаблон на този html елемент и неговите наследници. При обновяване на части от него шаблона запазва оригиналният си вид, а промените минават само през Виртуалния DOM.</li>
			<li>Промените направени във Виртуални DOM се изсипват на куп в Реалния DOM на определни порции.</li>
		</ul>
	</section>
	<section>
		<h3>Допълнителна информация ++</h3>
		<p><a href="https://vuejs.org/v2/guide/instance.html">
			https://vuejs.org/v2/guide/instance.html
		</a></p>
	</section>
</section>

		</div><!-- slides -->
	</div><!-- reveal -->

	<script src="js/lib/head.min.js"></script>
	<script src="js/lib/reveal.js"></script>
	<script>
		Reveal.initialize({
			display: 'flex',
			fragments: true,
			history: false,
			transition: 'slide', // none/fade/slide/convex/concave/zoom
			transitionSpeed: 'fast', // default/fast/slow
			backgroundTransition: 'fade',
			controls: 		true,
			progress: 		true,
			rollingLinks: false,
			dependencies: [
				{ src: 'js/plugin/notes/notes.js', async: true },
				{ src: 'js/plugin/highlight/highlight.js', async: true, callback: function() {
					hljs.configure({ tabReplace: '  ' });
					hljs.initHighlightingOnLoad();
				}}
			]
		});

		Reveal.addEventListener( 'ready', function( event ) {

			//Hide the mouse after a second of not moving it.
			let mouseHidden = false;
			let mouseNode   = document.querySelector('html');
			let mouseTimer;

			document.addEventListener('mousemove', function() {
				if (!mouseHidden) {
						mouseHidden = false;
						clearTimeout(mouseTimer);
						mouseNode.style.cursor = 'default';
						mouseTimer = setTimeout(function() {
							mouseNode.style.cursor = 'none';
							mouseHidden = true;
						}, 3000);
				} else {
					mouseNode.style.cursor = 'default';
					mouseTimer = setTimeout(function() {
						mouseNode.style.cursor = 'none';
						mouseHidden = false;
					}, 3000);
				}
			});

		});
	</script>
	</body>
</html>
