<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

	<title>Използване на router & ajax в Vue.js</title>

  <link href="css/fontawesome.css" rel="stylesheet">
	<link rel="stylesheet" href="css/reveal.css">
	<link rel="stylesheet" href="css/learning.css" id="theme">
	<!-- За борба с кеша -->
	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Expires" content="0" />
</head>

<body>
	<div class="reveal">
		<div class="slides">

<section data-background="#fff">
	<img src="images/front.png" style="width: 80%;background-color: transparent;">
</section>

<section data-state="gradient"><!-- Title -->
	<img src="images/Vue_js_logo.png" style="width: 50%;background-color: transparent;">
	<h1 style="color: #fff;">  Използване на router & ajax</h1>
</section>

<section ><!-- Router -->
	<section  data-state="gradient">
		<h2 style="color: #fff;"><i class="fab fa-vuejs"></i> Router</h2>
	</section>
	<section>
		<h3>Основна концепция на router</h3>
		<ul class="smaller">
			<li>Използването на <code>router</code> в контекста на JavaScript представлява възможността да променяме url-то на страницата, без да презарежда изцяло HTML кода.</li>
			<li>А в контектс на Vue.js router-ите се изпозлва за определяна на кои компоненти трябва да бъдат заредени спрямо избран route (път или линк)</li>
			<li>За да използваме тази функционалност трябва да добавим библиотеката <code>vue-router.js</code> (<a href="https://unpkg.com/vue-router/dist/vue-router.js">https://unpkg.com/vue-router/dist/vue-router.js</a>) след вмъкването на самия Vue.js</li>
		</ul>
	</section>
	<section>
		<h3>Използване на router в HTML</h3>
		<ul class="smaller">
			<li><code>&lt;router-link></code> е елемент, който ще съдържа връзките към различните пътища в нашия сайт. Той трябва да има родител, върху, който да се извика vue инстанция.</li>
			<li>В по-горния елемент се поставя атрибутът <code>to</code> и като стойност задаваме името на пътя, към който искаме да отправим потребителя при кликане на този елемент.</li>
			<li>Vue.js ще създаде от по-горния <em>router-link</em> обикновен <em>a</em> елемент.</li>
			<li>Трябва да дадобавим и елемента <code>&lt;router-view></code>, в който ще се изобрази съответния компонент вързан с router-а</li>
		</ul>
	</section>
	<section>
		<h3>Създаване на router-и в JS</h3>
		<ul class="smaller">
			<li>За да вържем определен компонент с даден route изпозлваме обекта <code>VueRouter</code>.</li>
			<li>За аргумент на новия обект задаваме свойстовото <code>routes</code>, което приема масив с обкети съдържащи path и съответни за не него компонент.</li>
			<li>Накрая предавме тази инстанция на <em>VueRouter</em> на даден vue обект преди да сме го инициализирали.</li>
		</ul>
		<pre><code class="js">
	const aboutTemplate = {template : "&lt;h2>За нас&lt;/h2>"}
	...
	const router = new VueRouter({
	  routes: [
	    { path: '/about', component: aboutTemplate },
	  ]
	})
		</code></pre>
	</section>
	<section>
		<pre><code class="html">
	&lt;div id="app">
	  &lt;h1>{{someD}}&lt;/h1>
	  &lt;p>
	    &lt;router-link to="/">Начало&lt;/router-link>
	    &lt;router-link to="/about">За нас&lt;/router-link>
	    &lt;router-link to="/team">Екип&lt;/router-link>
	  &lt;/p>
	  &lt;router-view>&lt;/router-view>
	&lt;/div>
		</code></pre>
		<pre><code class="js">
	const homeComponent  = { template: '&lt;div>&lt;h1>Начало&lt;/h1>&lt;/div>' }
	const aboutComponent = { template: '&lt;div>&lt;h1>За Нас&lt;/h1>&lt;/div>' }
	const teamComponent  = { template: '&lt;div>&lt;h1>Екип&lt;/h1>&lt;/div>' }

	const ourRouter = new VueRouter({
	  routes: [
	    { path: '/about', component: aboutComponent },
	    { path: '/team',  component: teamComponent },
	    { path: '/',      component: homeComponent }
	  ]
	})

	new Vue({
	  el:'#app',
	  data:{
	    someD: "Заглавие"
	  },
	  router:ourRouter
	})
		</code></pre>
	</section>
	<section>
		<h3>Допълнителна информация</h3>
		<p><a href="https://router.vuejs.org/en/essentials/getting-started.html">https://router.vuejs.org/en/essentials/getting-started.html</a></p>
	</section>
</section>


<section ><!-- AJAX -->
	<section  data-state="gradient">
		<h2 style="color: #fff;"><i class="fab fa-vuejs"></i> Ajax c Axios</h2>
	</section>
	<section>
		<h3>Основни точки</h3>
		<ul class="smaller">
			<li>Библиотеката Axios не е зависима или свързана с Vue.js. Tя e самостоятелна библиотека.</li>
			<li>Тя използва обикновенните методите <code>then</code> и <code>catch</code> на JavaScript за да следи за свършаване на действието на аяксовата заявка или за евентуални грешки.</li>
			<li><code>&lt;script src="https://unpkg.com/axios/dist/axios.min.js"> &lt;/script></code></li>
		</ul>
	</section>
	<section>
		<small>Извършване на get заявка</small>
		<pre><code class="js">
	axios.get('/potrebiteli', {
    params: {
      ID: 123
    }
  })
  .then(function (response) {
    console.log(response);
  })
  .catch(function (error) {
    console.log(error);
  });
		</code></pre>
	</section>
	<section>
		<small>Извършване на post заявка</small>
		<pre><code class="js">
	axios.post('/potrebiteli', {
    firstName: 'Спас',
    lastName: 'Спасов'
  })
  .then(function (response) {
    console.log(response);
  })
  .catch(function (error) {
    console.log(error);
  });
		</code></pre>
	</section>
	<section>
		<small>Използване на axios в контекста на vue.js</small>
		<pre><code class="js">
	let vm = new Vue({
	  el:'#app',
	  data:{
	    title: "Заглавие",
	    subtitle: ""
	  }
	})

	axios.get('https://jsonplaceholder.typicode.com/posts/1')
	.then(function(res){
	  vm.subtitle=res.data.title;
	})
	.catch(function(err){
	  console.log(err)
	})
		</code></pre>
	</section>
	<section>
		<h3>Допълнителна информация</h3>
		<p><a href="https://github.com/axios/axios">https://github.com/axios/axios</a></p>
	</section>
</section>

		</div><!-- slides -->
	</div><!-- reveal -->

	<script src="js/lib/head.min.js"></script>
	<script src="js/lib/reveal.js"></script>
	<script>
		Reveal.initialize({
			display: 'flex',
			fragments: true,
			history: false,
			transition: 'slide', // none/fade/slide/convex/concave/zoom
			transitionSpeed: 'fast', // default/fast/slow
			backgroundTransition: 'fade',
			controls: 		true,
			progress: 		true,
			rollingLinks: false,
			dependencies: [
				{ src: 'js/plugin/notes/notes.js', async: true },
				{ src: 'js/plugin/highlight/highlight.js', async: true, callback: function() {
					hljs.configure({ tabReplace: '  ' });
					hljs.initHighlightingOnLoad();
				}}
			]
		});

		Reveal.addEventListener( 'ready', function( event ) {

			//Hide the mouse after a second of not moving it.
			let mouseHidden = false;
			let mouseNode   = document.querySelector('html');
			let mouseTimer;

			document.addEventListener('mousemove', function() {
				if (!mouseHidden) {
						mouseHidden = false;
						clearTimeout(mouseTimer);
						mouseNode.style.cursor = 'default';
						mouseTimer = setTimeout(function() {
							mouseNode.style.cursor = 'none';
							mouseHidden = true;
						}, 3000);
				} else {
					mouseNode.style.cursor = 'default';
					mouseTimer = setTimeout(function() {
						mouseNode.style.cursor = 'none';
						mouseHidden = false;
					}, 3000);
				}
			});

		});
	</script>
	</body>
</html>
