<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

	<title>Kомпоненти в Vue.js (v.2.5)</title>

  <link href="css/fontawesome.css" rel="stylesheet">
	<link rel="stylesheet" href="css/reveal.css">
	<link rel="stylesheet" href="css/learning.css" id="theme">
	<!-- За борба с кеша -->
	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Expires" content="0" />
</head>

<body>
	<div class="reveal">
		<div class="slides">

<section data-background="#fff">
	<img src="images/front.png" style="width: 80%;background-color: transparent;">
</section>

<section data-state="gradient"><!-- Title -->
	<img src="images/Vue_js_logo.png" style="width: 50%;background-color: transparent;">
	<h1 style="color: #fff;"> Формуляри и Компоненти в Vue.js</h1>
</section>

<section ><!-- ФОРМИ -->
	<section  data-state="gradient">
		<h2 style="color: #fff;"><i class="fab fa-vuejs"></i> Връзка с Формуляри</h2>
	</section>
	<section>
		<h3>Директивата <code>v-model</code></h3>
		<ul class="smaller">
			<li>Тази директива позволява двустранно обвръзрване между промените на потребителските полета и стойностите в vue обекта.</li>
			<li>Директивата се използва универсално за всеки различен тип потребителско поле (radio button, checkbox, text ...).</li>
			<li>Зададените стойности на потребителски полета в HTML-а ще бъдат игнорирани от v-model директивата. Тя ще следва единствено стойностите на data свойствата, към които сме вързали v-model.</li>
		</ul>
	</section>
	<section>
		<small>Обикновенно текстово поле</small>
		<pre><code class="html">
	&lt;input v-model="message" placeholder="въдеди текст">
	&lt;p>Въведения текст е: {{ message }}&lt;/p>
		</code></pre>
	  <small>Използване на textarea с нови редове</small>
		<pre><code class="html">
	&lt;p style="white-space: pre-line;">{{ message }}&lt;/p>&lt;br>
	&lt;textarea v-model="message" placeholder="Добавете текст разделен с празен ред">&lt;/textarea>
		</code></pre>
		 <small>Забележка: за да зададем стойност в textarea не може да използваме познатия ни синтаксис с  {{ text }}, а трябва да използваме v-model, на който да предадем съответната стойност</small>
	</section>
	<section>
		<h3>Радио бутони и отметки</h3>
		<small>Радио бутони</small>
		<pre><code class="html">
	&lt;input type="radio" id="one" value="Едно" v-model="picked">
	&lt;label for="one">Едно&lt;/label>&lt;br>
	&lt;input type="radio" id="two" value="Две" v-model="picked">
	&lt;label for="two">Две&lt;/label>&lt;br>
	&lt;span>Избрахте: {{ picked }}&lt;/span>
		</code></pre>
	  <small>Използване на единичен чекбокс</small>
		<pre><code class="html">
	&lt;input type="checkbox" id="checkbox" v-model="checked">
	&lt;label for="checkbox">{{ checked }}&lt;/label>
		</code></pre>
	</section>
	<section>
		<h3>Използване на множество отметки</h3>
		<pre><code class="html">
  &lt;div id='lica'>
    &lt;input type="checkbox" value="Спас" v-model="lica">
    &lt;label>Спас  &lt;/label>  &lt;br>
    &lt;input type="checkbox" value="Пешо" v-model="lica">
    &lt;label>Пешо  &lt;/label>  &lt;br>
    &lt;input type="checkbox" value="Гришо" v-model="lica">
    &lt;label>Гриша  &lt;/label>  &lt;br>
    &lt;p>Избрани лица:  &lt;span v-for="name in lica">{{ name +', ' }  &lt;/span> &lt;/p>
  &lt;/div>
		</code></pre>
		<pre><code class="js">
	new Vue({
	  el: '#lica',
	  data: {
			lica: []
		}
	)}
		</code></pre>
	</section>
	<section>
		<h3>Редактори на <code>v-model</code></h3>
		<ul>
			<li><code>.lazy</code> ще предотврати автоматичното обновяване на стойностите преди да е свършило самото им въвеждане.</li>
			<li><code>.number</code> използва се за предаване на числова тип на полето.</li>
			<li><code>.trim</code> използва се за изчистване на излишните спейсове.</li>
		</ul>
	</section>
</section>

<section ><!-- Компоненти -->
	<section  data-state="gradient">
		<h2 style="color: #fff;"><i class="fab fa-vuejs"></i> Компоненти</h2>
	</section>
	<section>
		<h3>Какво представляват компонентите?</h3>
		<ul>
			<li>Компонентите са вид шаблони, които задаваме в отделна или текуща vue инстанция.</li>
			<li>Позволяват ни да създавадем преизползваеми елементи в HTML кода.</li>
			<li>Сами по себе си компонените предсталяват vue инстанции и като такива могат да имат methods, data, computed и др. свойства.</li>
		</ul>
	</section>
	<section>
		<h3>Глобални компонентите</h3>
		<ul class="smaller">
			<li>Глобалните компоненти ги задаваме чрез <code>Vue.component('comp-name',{ //options})</code>.</li>
			<li>Глобалните компоненти са валидни за всички отделни нови vue инстанициа.</li>
			<li>Този тип компоненти трябва да бъдат задавани преди инициализацията на съответните vue обекти, които ще ги използват.</li>
		</ul>
	</section>
	<section>
		<small>Използване на глобален компонент</small>
		<pre><code class="html">
	&lt;div id="example1">
	  &lt;my-comp>&lt;/my-comp>
	&lt;/div>
	&lt;div id="example2">
	  &lt;my-comp>&lt;/my-comp>
	&lt;/div>
		</code></pre>
		<pre><code class="js">
	Vue.component('my-comp', {
		template: '&lt;div>Текст в компонент.&lt;/div>'
	})

	new Vue({el: '#example1'});
	new Vue({el: '#example2'});
		</code></pre>
	</section>
	<section>
		<h3>Локални компоненти</h3>
		<ul class="smaller">
			<li>Не е е задължително да задваме всичките си компоненти глобално. Може да имаме случаи, в които да не са ни нужни глобални, а само локални компоненти.</li>
			<li>Локалнит компоненти ги задаваме във всяка отделна vue инстация, като използваме свойството <code>components</code>.</li>
			<li>Самите настройки на локалните компоненти може да ги запишем в обект, който да е външен на vue инстанцията и да ги ползваме на по-късен етап.</li>
		</ul>
	</section>
	<section>
		<small>Използване на локален компонент</small>
		<pre><code class="js">
	var componentData = {
	  template: '&lt;div>Това ще отговаря на тага &lt;my-comp>&lt;/my-comp>&lt;/div>'
	}

	new Vue({
	  // ...
	  components: {
	    'my-comp': componentData
	  }
	})
		</code></pre>
	</section>
	<section>
		<h3>Използване на <code>is</code> </h3>
		<ul class="smaller">
			<li>HTML5 ни позволява да дефинирима собствени имена на елементите</li>
			<li>Обаче има правила за това кои html елементи могат да бътат вмъквани едни в други. Например в <em>table</em> не може да съдържа в себе си елемента <em>div</em> или нашия нов елемент <em>my-comp</em>.</li>
			<li>Но е възможно да използваме <em>tr</em> елемент, който да окаже, че ще  ползва нашия компонент <em>my-comp</em> чрез директивата <code>is</code></li>
		</ul>
	</section>
	<section>
		<small>Пример с използване на is</small>
		<pre><code class="html">
	&lt;table>
	  &lt;tbody>
	    &lt;tr is="my-tr">&lt;/tr>
	    &lt;tr is="my-tr">&lt;/tr>
	  &lt;/tbody>
	&lt;/table>
		</code></pre>
		<pre><code class="js">
	Vue.component('my-tr',{
    template:"&lt;tr>Bla&lt;/tr>"
  })
		</code></pre>
		<pre><code class="html">
	&lt;table>
		&lt;tbody>
			&lt;tr>Bla&lt;/tr>
			&lt;tr>Bla&lt;/tr>
		&lt;/tbody>
	&lt;/table>
		</code></pre>
	</section>
	<section>
		<h3>Използване на <code>data</code> в компонентите</h3>
		<ul class="smaller">
			<li>Като правило, когато използва data свойството в компонентите трябва да имаме предвид, че данните в него ги предаваме като функция, а не като обект.</li>
			<li>Ако предадем данните като обект, то всяко използване на съотвения компонент ще реферира към един и същи обект (тъй като той е предаден по рефенренция) и промяната на част oт обекта от едина инстанция на текущия компонент ще се отрази върху всички останали негови инстанции.</li>
		</ul>
	</section>
  <section>
  	<h3>Вмъкване на компоненти един в друг</h3>
  	<ul class="smaller">
  		<li>Във Vue.js е възможно да създадем даден компонент, който да използва в структурата (в template) си друг компонент.</li>
  		<li>Връзката която създаваме между вмъкнатите компоненти е обикновено връзка от ти родител-дете</li>
  		<li>За да комуникират по между си компонентите използва две техники: родителите използват предаванет на данни към децата си чрез <code>props</code>, а децата към родителите чрез <code>events</code></li>
  	</ul>
  </section>
	<section>
		<h3>Предаване на данни чрез <code>props</code></h3>
		<ul class="smaller">
			<li>Всеки компонент има свой изолиран обхват(scope), който не позволява директно да предаваме данни към децата на даден компонент.</li>
			<li>Този проблем може да се реши с използването на <code>props</code> в компонентите-деца, като в него се зададат свойствата, които ще се подават от родителя.</li>
			<li>Обърнете внимание, че HTML е case-insensitive (т.е. не обръща внимание на малки и големи букви), за това ни се налага ако ползваме camelCase в js кода за стойности на props, да го преобръщаме в kebab-case (за разделител ползваме -), когато го използваме в HTML-a.</li>
		</ul>
	</section>
	<section>
		<small></small>
		<pre><code class="js">
	Vue.component('child', {
	  props: ['ourMessage'],
	  template: '&lt;span>{{ ourMessage }}&lt;/span>'
	})
		</code></pre>
		<pre><code class=" html">
	&lt;!-- задаваме компонента в кода -->
	&lt;child :our-message="Propsss!">&lt;/child>
	&lt;!-- резултатът след инициализацията на vue обекта -->
	&lt;span>Propsss&lt;/span>
		</code></pre>
	</section>
	<section>
		<small></small>
		<pre><code class="js">
	Vue.component('parent',{
    template:`&lt;div>
                &lt;child :child-message="parentMessage">&lt;/child>
              &lt;/div>`,
    data: function(){
      return {
        parentMessage:"Тази стойност е зададена от родителя!"
      }
    }

  })
  Vue.component('child', {
	  props: ['childMessage'],
	  template: '<span>{{ childMessage}}</span>'
	})
		</code></pre>
		<pre><code class="html">
	&lt;!-- задаваме компонента в кода -->
	&lt;parent>&lt;/parent>
	&lt;!-- резултатът след инициализацията на vue обекта -->
	&lt;div>&lt;span>Тази стойност е зададена от родителя!&lt;/span>&lt;/div>
		</code></pre>
	</section>
 	<section>
 		<small>Родителски компонент с динамични данни</small>
 		<pre><code class="js">
	Vue.component('parent',{
		template:`&lt;div>
                &lt;child :child-message="parentMessage">&lt;/child>
                &lt;input v-model="dynamicProp" >
                &lt;child :child-message="dynamicProp">&lt;/child>
              &lt;/div>`,
    data: function(){
      return {
        parentMessage:"Тази стойност е зададена от родителя",
        dynamicProp:""
      }
    }

  })
  Vue.component('child', {
	  props: ['childMessage'],
	  template: '<p>{{ childMessage}}</p>'
	})
 		</code></pre>
 	</section>
	<section>
		<h3>Специфики на еднопосочност</h3>
		<ul class="smaller">
			<li>Потокът на данни от родителя към детето предполага, че тези данни няма да бъдат променяни на нивото на детето, или поне не директно.</li>
			<li>Ако искаме да обработим получените данни от родителя трябва да използваме собствените методи като data & computed в детето.</li>
		</ul>
		<pre><code class="js">
	props: ['name'],
	computed: {
	  normalizedName: function () {
	    return this.name.trim().toLowerCase()
	  }
	}
		</code></pre>
	</section>
	<section>
		<h3>Връзка от детето към родителя</h3>
		<ul class="smaller">
			<li>Всяка vue инстанция може да "слуша" за събитие, както и да стартира такова.</li>
			<li>Родителския елемент може да "слуша" за опредлено събите от своето дете, а то от своя страна може да стартира такова събите към своя родител.</li>
			<li>В Vue.js е възможно да създадем собствени събитя ползвайки <code>$emit</code> метода. С него едновременно създаваме и извикваме собственото събите.</li>
			<li>За да се изпълни едно собствено събитие стартирано от детето, то трябва да бъде очаквано ("слушано") от родителя.</li>
		</ul>
	</section>
	<section>
		<small>Използване на събития за да се обърнем към родителя</small>
		<pre><code class="js">
	Vue.component('parent',{
    template:`<div>
                <input v-model="dynamicProp" >
                <child @increment="incrementTotal" :number="dynamicProp"></child>
                <span>Parent: {{total}}</span>
              </div>`,
    data: function(){
      return {
        dynamicProp:  11,
        total: 0
      }
    },
    methods:{
      incrementTotal: function () {
         this.total ++;
      }
    }

  })
  Vue.component('child', {
	  props: ['number'],
	  template: `<div v-if="number">
                <button @click="incrementChild">{{ number }}</button><br>
                <span>Child: {{newNumber}}</span>
              </div>`,
    data:function(){
      return {
        //newNumber ще се обнови само веднъж при инициализация
        newNumber: this.number
      }
    },
    methods:{
      incrementChild: function(){
        this.newNumber ++;
        this.$emit('increment')
      }
    }
	})
		</code></pre>
	</section>
	<section>
		<h3>Използване на <code>slot</code></h3>
		<ul class="smaller">
			<li>Vue.js позволява при използване на компоненти да зададем определено съдържание между таговете им. По принцип това съдържание бива презаписано от шаблона, който се дефинирали в компонента ни, но имаме възможност да променим това поведени.</li>
			<li>В темплейта на шаблона може да вмъкнем елемента <code>slot</code>, на чието място би се появило садържанието (ако има такова) от самия компонент, когато го използваме в html-а. </li>
			<li></li>
		</ul>
	</section>
	<section>
		<small>template кода на компонента &lt;my-component></small>
		<pre><code class="html">
	<div>
	  <h2>Заглавието остава непроменено</h2>
	  <slot>
	    Това съдържание ще се покаже, ако не зададеме никакво такова на нашия компонент
	  </slot>
	</div>
		</code></pre>
		<small>използване на компонента</small>
		<pre><code class="html">
	<my-component>
		<p>Този текст ще замести съдържанието по подразбиране от slot елемента</p>
	</my-component>
		</code></pre>
		<small>краен резултат</small>
		<pre><code class="html">
	<div>
	  <h2>Заглавието остава непроменено</h2>
	  <p>Този текст ще замести съдържанието по подразбиране от slot елемента</p>
	</div>
		</code></pre>
	</section>
	<section>
		<h3>Наименовани slot елементи</h3>
		<ul class="smaller">
			<li>За да ползваме повече от един slot елементи в шаблона (template) на нашия компонент трябва да използваме атрибута name.По този начин ще направим всеки един slot елемент уникален и ще може да му задеден конкретно съдържание.</li>
			<li>В html когато използваме компонента трябва да добавяме на съответните html елементи атрибут slot със съответното му име като стойност.</li>
			<li>В тези случай е възможно и да оставим slot елемент без име и в него ще се запишат всички останали елементи от html-а ни, които не са с изрично посочен slot атрибут.</li>
		</ul>
	</section>
	<section>
		<small>дефиниране на шаблона за компонента &lt;app-layout></small>
		<pre><code class="html">
	<div class="container">
	  <header>
	    <slot name="header"></slot>
	  </header>
	  <main>
	    <slot></slot>
	  </main>
	  <footer>
	    <slot name="footer"></slot>
	  </footer>
	</div>
		</code></pre>
		<small>Използване на компонента в html кода</small>
		<pre><code class="html">
	<app-layout>
	  <h1 slot="header">Този елемент заминава в header</h1>
	  <p>Този текст ще попадне в елемента main</p>
	  <p slot="footer">Този елемент заминава в footer</p>
	</app-layout>
		</code></pre>
	</section>
	<section>
		<h3>Динамично зареждане на компоненти</h3>
		<ul class="smaller">
			<li>Използвайки запазеният елемент <code>&lt;component></code> в комбинация с  <code>is</code> ни позволява да сменяме динамично текущият активен компонент.</li>
			<li>Също така ако искаме да запазим текущото състоянието на даден компонент при следващо зареждане трябва да използваме елемента <code>&lt;keep-alive></code>, който да обваща елемента &lt;component>. По този начи ще се "кешира" състоянието на всеки един компонент и няма да се презарежда наново всеки път, когато се извика.</li>
		</ul>
	</section>
	<section>
		<small>HTML</small>
		<pre><code class="html">
	<div id="example">
    <component v-bind:is="currentView">
    </component>
  </div>
		</code></pre>
		<small>JS</small>
		<pre><code class="js">
	new Vue({
    el: '#example',
    data: {
      currentView: 'posts'
    },
    components: {
      home: {template: "<h1>This is Home</h1>"},
      posts:{ template: "<h1>This is Posts</h1>"},
      archive: {template: "<h1>This is Archive</h1>"}
    }
  })
		</code></pre>
	</section>
	<section>
		<h3>Допълнителна информация ++++</h3>
		<p><a href="https://vuejs.org/v2/guide/components.html">https://vuejs.org/v2/guide/components.html</a></p>
	</section>
</section>

		</div><!-- slides -->
	</div><!-- reveal -->

	<script src="js/lib/head.min.js"></script>
	<script src="js/lib/reveal.js"></script>
	<script>
		Reveal.initialize({
			display: 'flex',
			fragments: true,
			history: false,
			transition: 'slide', // none/fade/slide/convex/concave/zoom
			transitionSpeed: 'fast', // default/fast/slow
			backgroundTransition: 'fade',
			controls: 		true,
			progress: 		true,
			rollingLinks: false,
			dependencies: [
				{ src: 'js/plugin/notes/notes.js', async: true },
				{ src: 'js/plugin/highlight/highlight.js', async: true, callback: function() {
					hljs.configure({ tabReplace: '  ' });
					hljs.initHighlightingOnLoad();
				}}
			]
		});

		Reveal.addEventListener( 'ready', function( event ) {

			//Hide the mouse after a second of not moving it.
			let mouseHidden = false;
			let mouseNode   = document.querySelector('html');
			let mouseTimer;

			document.addEventListener('mousemove', function() {
				if (!mouseHidden) {
						mouseHidden = false;
						clearTimeout(mouseTimer);
						mouseNode.style.cursor = 'default';
						mouseTimer = setTimeout(function() {
							mouseNode.style.cursor = 'none';
							mouseHidden = true;
						}, 3000);
				} else {
					mouseNode.style.cursor = 'default';
					mouseTimer = setTimeout(function() {
						mouseNode.style.cursor = 'none';
						mouseHidden = false;
					}, 3000);
				}
			});

		});
	</script>
	</body>
</html>
