/**
 * Learning theme for reveal.js
 * built to match LinkedIn Learning Style
 * By Ray Villalobos, http://raybo.org
 */
section.has-light-background, section.has-light-background h1, section.has-light-background h2, section.has-light-background h3, section.has-light-background h4, section.has-light-background h5, section.has-light-background h6 {
  color: #444; }

/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background: #FFF;
  background-color: #FFF; }

.reveal {
  font-family: Avenir, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 42px;
  font-weight: 100;
  letter-spacing: .015em;
  color: #444; }

::selection {
  color: inherit;
  background: #d9d9d9;
  text-shadow: none; }

.reveal .slides {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.reveal .slides > section,
.reveal .slides > section > section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 1.2;
  font-weight: inherit; }

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  color: #444;
  font-family: Avenir, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 900;
  line-height: 1.2;
  letter-spacing: normal;
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
  text-transform: inherit;
  text-shadow: none;
  word-wrap: break-word; }

.reveal h1 {
  font-size: 50pt; }

.reveal h2 {
  font-size: 48pt; }

.reveal h3 {
  font-size: 44pt; }

.reveal h4 {
  font-size: 38pt; }

.reveal h1 {
  text-shadow: none; }

/*********************************************
 * OTHER
 *********************************************/
.reveal p {
  margin: 20px 0;
  padding: 0 5%; }

.reveal li p {
  margin: 0;
  padding: 0; }

/* Ensure certain elements are never larger than the slide itself */
.reveal img,
.reveal video {
  width: 100%;
  height: 100%; }

.reveal iframe {
  width: 90% !important;
  height: 100%; }

.reveal strong,
.reveal b {
  font-weight: bold; }

.reveal em {
  font-style: italic; }

.reveal ol,
.reveal dl,
.reveal ul {
  display: inline-block;
  text-align: left;
  margin: 0;
  margin-top: 20px; }

.reveal ol {
  list-style-type: decimal; }

.reveal ul {
  list-style-type: disc; }

.reveal .slides ul li, .reveal .slides ol li {
  margin-left: 50px;
  margin-bottom: 15pt; }

.reveal li + code, .reveal ol li + code {
  margin-left: -300px; }

.reveal ul ul {
  list-style-type: square;
  margin-bottom: 20pt; }

.reveal ul li ul li:first-child, .reveal ol li ul li:first-child {
  margin-top: 20pt; }

.reveal ul li ul li, .reveal ol li ul li {
  margin-bottom: 20pt; }

.reveal ul ul ul {
  list-style-type: circle; }

.reveal ul ul,
.reveal ul ol,
.reveal ol ol,
.reveal ol ul {
  display: block;
  margin-left: 40px; }

.reveal dt {
  font-weight: bold; }

.reveal dd {
  margin-left: 40px; }

.reveal q,
.reveal blockquote {
  quotes: none; }

.reveal blockquote {
  display: block;
  position: relative;
  width: 70%;
  margin: 20px auto;
  padding: 5px;
  font-style: italic; }

.reveal blockquote p:first-child,
.reveal blockquote p:last-child {
  display: inline-block; }

.reveal q {
  font-style: italic; }

.reveal pre {
  display: block;
  position: relative;
  width: 100%;
  margin: 20px auto;
  text-align: left;
  font-size: 0.55em;
  font-family: Calynda, monospace;
  line-height: 120%;
  word-wrap: break-word;
  outline: none !important; }

.reveal code {
  font-family: Calynda, monospace;
  background: rgb(227, 227, 227);
  display: inline-block;
  padding: 5px 10px;
  white-space: nowrap;
  cursor: text;
  border-radius: 5px;
}

.reveal li code {
  background: rgb(227, 227, 227);
  color: #0077B5;
  border-radius: 5px;
  margin: 2px; }

.reveal pre code {
  display: block;
  padding: 2px 15px;
  overflow: auto;
  width: 80%;
  margin: 0 auto;
  max-height: 400px;
  word-wrap: normal;
  white-space: inherit;
  font-size: 1.3rem;
line-height: 1.5rem;}

.reveal table {
  width: 90%;
  margin: 0 auto;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 2rem !important; }

.reveal table th {
  vertical-align: middle;
  font-weight: bold;
  color: #FFF;
  background: #0077B5;
  line-height: 100%;
  border: 1px solid; }

.reveal table th,
.reveal table td {
  text-align: left;
  padding: 0.5em;
  border: 1px solid black; }

.reveal table th {
  border: 1px solid #FFF;
  border-top: 1px solid black;
  border-bottom: 1px solid black; }

.reveal table th:first-child {
  border-left: 1px solid black;
  border-top: 1px solid black;
  border-bottom: 1px solid black; }

.reveal table th:last-child {
  border-right: 1px solid black;
  border-top: 1px solid black;
  border-bottom: 1px solid black; }

.reveal table th[align="center"],
.reveal table td[align="center"] {
  text-align: center; }

.reveal table th[align="right"],
.reveal table td[align="right"] {
  text-align: right; }

.reveal table td {
  font-size: 1.7rem; }

.reveal sup {
  vertical-align: super; }

.reveal sub {
  vertical-align: sub; }

.reveal small {
  display: inline-block;
  font-size: 0.6em;
  line-height: 100%; }

/*********************************************
 * LINKS
 *********************************************/
.reveal a {
  color: #E68523;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  transition: color .15s ease; }

.reveal a:hover {
  color: #eeab68;
  text-decoration: underline;
  text-shadow: none;
  border: none; }

.reveal .roll span:after {
  color: #FFF;
  background: #a95f13; }

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 15px 0px;
  background: rgba(255, 255, 255, 0.12); }

.reveal section img.plain {
  border: 0;
  box-shadow: none; }

.reveal a img {
  -webkit-transition: all .15s linear;
  -moz-transition: all .15s linear;
  transition: all .15s linear; }

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #E68523; }

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls .navigate-left,
.reveal .controls .navigate-left.enabled {
  border-right-color: #E68523; }

.reveal .controls .navigate-right,
.reveal .controls .navigate-right.enabled {
  border-left-color: #E68523; }

.reveal .controls .navigate-up,
.reveal .controls .navigate-up.enabled {
  border-bottom-color: #E68523; }

.reveal .controls .navigate-down,
.reveal .controls .navigate-down.enabled {
  border-top-color: #E68523; }

.reveal .controls .navigate-left.enabled:hover {
  border-right-color: #eeab68; }

.reveal .controls .navigate-right.enabled:hover {
  border-left-color: #eeab68; }

.reveal .controls .navigate-up.enabled:hover {
  border-bottom-color: #eeab68; }

.reveal .controls .navigate-down.enabled:hover {
  border-top-color: #eeab68; }

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2); }

.reveal .progress span {
  background: #E68523;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }

/*********************************************
* Code Colors
*********************************************/
.reveal .code-primary {
  background-color: #0077B5 !important;
  margin: 5px;
  color: #FFF !important; }

.reveal .code-success {
  background-color: #5cb85c !important;
  margin: 5px;
  color: #FFF !important; }

.reveal .code-info {
  background-color: #5bc0de !important;
  margin: 5px;
  color: #FFF !important; }

.reveal .code-warning {
  background-color: #E68523 !important;
  margin: 5px;
  color: #FFF !important; }

.reveal .code-danger {
  background-color: #D9534E !important;
  margin: 5px;
  color: #FFF !important; }

/*********************************************
 * Code
 *********************************************/
.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #eee;
  color: #444;
  border-radius: 10px;
  font-family: Calynda, monospace; }

.hljs-link,
.hljs-emphasis,
.hljs-attribute,
.hljs-addition {
  color: #070; }

.hljs-emphasis {
  font-style: italic; }

.hljs-strong,
.hljs-string,
.hljs-deletion {
  color: #d14; }

.hljs-strong {
  font-weight: bold; }

.hljs-quote,
.hljs-comment {
  color: #998;
  font-style: italic; }

.hljs-section,
.hljs-title {
  color: #900; }

.hljs-class .hljs-title,
.hljs-type {
  color: #458; }

.hljs-variable,
.hljs-template-variable {
  color: #336699; }

.hljs-bullet {
  color: #997700; }

.hljs-meta {
  color: #3344bb; }

.hljs-code,
.hljs-number,
.hljs-literal,
.hljs-keyword,
.hljs-selector-tag {
  color: #0077B5; }

.hljs-regexp {
  background-color: #fff0ff;
  color: #880088; }

.hljs-symbol {
  color: #990073; }

.hljs-tag,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class {
  color: #007700; }

/*********************************************
 * OVERRIDE FRAGMENTS ANIMATION
 *********************************************/
.reveal .slides > section,
.reveal .slides > section > section {
  padding: 0; }

.reveal .slides section .fragment {
  -webkit-transition: all ease;
  transition: all ease; }

/*********************************************
 * Title Slide
 *********************************************/
.title body {
  background: #0077B5; }

.title .slides {
  letter-spacing: .03em;
  color: #FFF;
  text-align: center; }

.title .slides h1, .title .slides h2, .title .slides h3, .title .slides h4, .title .slides h5, .title .slides h6 {
  color: inherit;
  text-align: center;
  margin-bottom: 0;
  margin-top: 0; }

.title .slides h1 {
  font-size: 4.5rem; }

.title .slides p {
  margin-top: 0;
  font-size: 4.2rem; }

/*********************************************
 * Text On Image
 *********************************************/
.textonimage body {
  background-image: #0077B5; }

.textonimage .slides {
  height: 100%;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important; }

.textonimage .slides {
  letter-spacing: .03em;
  color: #FFF;
  text-align: center; }

.textonimage .slides h1, .textonimage .slides h2, .textonimage .slides h3, .textonimage .slides h4, .textonimage .slides h5, .textonimage .slides h6 {
  color: inherit;
  text-align: center;
  margin-bottom: 0;
  margin-top: 0;
  text-shadow: 0px 0px 50px rgba(0, 0, 0, 0.7); }

.textonimage .slides p {
  margin-top: 0;
  text-shadow: 0px 0px 10px black; }

.textonimage .slides a {
  color: #FFF;
  text-shadow: 0px 0px 10px black; }

/*********************************************
 * Text On Video
 *********************************************/
.textonvideo body {
  background-color: black; }

.textonvideo .slides {
  height: 100%;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important; }

.textonvideo .slides {
  letter-spacing: .03em;
  color: #FFF;
  text-align: center; }

.textonvideo .slides h1, .textonvideo .slides h2, .textonvideo .slides h3, .textonvideo .slides h4, .textonvideo .slides h5, .textonimage .slides h6 {
  color: inherit;
  text-align: center;
  margin-bottom: 0;
  margin-top: 0;
  text-shadow: 0px 0px 50px rgba(0, 0, 0, 0.7); }

.textonvideo .slides p {
  margin-top: 0;
  text-shadow: 0px 0px 10px black; }

.textonvideo .slides a {
  color: #FFF;
  text-shadow: 0px 0px 10px black; }

/*********************************************
 * Has Icon
 *********************************************/
.hasicon .slides h2 {
  margin-top: 20px;
  margin-bottom: 10px; }

.hasicon .slides h2 > i {
  font-size: 120px;
  color: #E68523;
  vertical-align: middle; }

/*********************************************
 * Disable outline on contenteditable="true"
 *********************************************/
.slides [contenteditable="true"]:focus {
  outline: none; }

/*********************************************
 * Persistent Footer
 *********************************************/
@keyframes fadein {
  0% {
    opacity: 0;
    transform: translate(0, 200px); }
  100% {
    opacity: 1;
    transform: translate(0, 0); } }

@keyframes fadeout {
  0% {
    opacity: 1;
    transform: translate(0, 0); }
  100% {
    opacity: 0;
    transform: translate(0, 200px); } }

.footer {
  font-size: .5em !important;
  display: block;
  background: #CCC;
  color: #777;
  text-align: center;
  position: absolute;
  display: block;
  bottom: 0;
  width: 100%;
  z-index: 500;
  padding: 10px 0 !important; }

.footer a {
  color: #444; }

.footer a:hover {
  color: #FFF; }

footer.fadein {
  opacity: 1;
  animation-name: fadein;
  animation-timing-function: ease-out;
  animation-duration: .5s; }

footer.fadeout {
  opacity: 0;
  animation-name: fadeout;
  animation-timing-function: ease-out;
  animation-duration: 1s;
  transform: translate(0, 200px); }

@media only screen and (max-width: 450px) {
  .footer {
    font-size: .8rem !important; } }

/*********************************************
 * Tooltips
 *********************************************/
.reveal .tooltip {
  position: relative; }

.reveal .tooltip span {
  background: #444;
  bottom: 100%;
  display: block;
  font-size: .7em;
  left: -20px;
  opacity: 0;
  padding: 2px 10px;
  margin-bottom: 5px;
  pointer-events: none;
  position: absolute;
  border-radius: 10px;
  box-shadow: none;
  border: 2px solid white;
  transform: translateY(25px);
  transition: all .25s ease-out;
  white-space: nowrap;
  transform: translateY(0px); }

.reveal .tooltip:hover span {
  display: inline-block;
  opacity: 1; }

.reveal a.tooltip span {
  color: #FFF !important; }

.reveal a code {
  cursor: pointer !important;
}
/*Some other classes*/

.reveal .slides section .fragment.visible {

    font-size: 2.3rem;

}

.reveal .slides section .smaller li {
    font-size: 1.82rem !important;
}

html.gradient body{
  background: linear-gradient(to top, #085d3b, #4aff89); /*Standard*/
}
