<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>The greatest news app ever</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.css">
    <style>

      .column:last-child:not(:first-child),
      .columns:last-child:not(:first-child) {
        float: left;
      }

      .main_heading {
        margin: 10px 0 30px;
      }

      .callout {
        margin-bottom: 40px;
      }

      select {
        text-transform: capitalize;
      }

      .loader {
        text-align: center;
        padding: 40px;
      }

      .uppercase {
        text-transform: uppercase;
      }
    </style>
  </head>
  <body>
    <div class="container" id="app">
      <h3 class="text-center">VueNews.us</h3>
      <section class="">
        <h5 class="text-center">Филтриране по категория</h5>
        <form>
          <div class="row">
            <div class="col-6 form-group">
              <select class="form-control" v-model="section">
    							<option v-for="section in sections" :value="section">{{ section }}</option>
    						</select>
            </div>
            <div class="col-6">
              <a @click="getPosts(section)" class="btn w-100 btn-primary text-white">Retrieve</a>
            </div>
          </div>
        </form>
      </section>

      <h5 class="text-center text-upcase" v-if="!loading">{{ title }}</b></h5>
      <div v-if="loading" class="loader"><img src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/0.16.1/images/loader-large.gif" alt="loader"></div>

      <news-list v-if="!loading" :results="results"></news-list>
    </div>
    <!-- 10fcafbf833f464186f75583a4b36cca -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue"></script>
    <script src="app.js"></script>

  </body>
</html>
